<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnRisky="true"
         failOnWarning="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true">

    <testsuites>
        <testsuite name="Unit">
            <directory>./tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>./tests/Integration</directory>
        </testsuite>
        <testsuite name="Database">
            <directory>./tests/Database</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">./app</directory>
        </include>
        <exclude>
            <directory>./app/Views</directory>
            <directory>./app/Config</directory>
        </exclude>
    </source>

    <coverage includeUncoveredFiles="true"
              pathCoverage="false"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true">
        <report>
            <html outputDirectory="coverage/html"/>
            <clover outputFile="coverage/clover.xml"/>
        </report>
    </coverage>

    <php>
        <env name="CI_ENVIRONMENT" value="testing"/>
        <env name="database.tests.hostname" value="localhost"/>
        <env name="database.tests.database" value="openclient_test"/>
        <env name="database.tests.username" value="openclient_user"/>
        <env name="database.tests.password" value="dev_password_change_in_production"/>
        <env name="database.tests.DBDriver" value="Postgre"/>

        <!-- Define paths for CodeIgniter testing -->
        <const name="TESTPATH" value="./tests/"/>
        <const name="SUPPORTPATH" value="./tests/Support/"/>
    </php>
</phpunit>
